#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.create-employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.create-employee-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 150px;
}

/** DatePicker **/

.date-picker-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.react-datepicker__header--custom {
  background-color: #ffffff !important;
}

/* Header Buttons */

.dp-button {
  border: none;
  background-color: #ffffff;
  color: grey;
}

.dp-button:hover {
  color: black;
  cursor: pointer;
}

.dp-button--nav {
  font-size: 1.4em;
}

/* days */

.react-datepicker__day--today {
  color: #1976d2 !important;
}

.react-datepicker__day--selected {
 color: #ffffff !important;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--today:hover {
  background-color: orange !important;
  color: white;
}

/* Days outside month */

.react-datepicker__day--outside-month {
  color: #b0b0b0 !important;
}

.react-datepicker__day--outside-month:hover {
  color: #ffffff !important;
}

/* Months select */

#months-select {
  border: none;
}

#months-select:hover {
  text-decoration: underline;
}

/* Years select */

#years-select {
  border: none;
}

#years-select:hover {
  text-decoration: underline;
}

/** Select plugin **/

.select-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select-field {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

/* Focus */
.select-field:focus {
  outline: none;
}