#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.create-employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.create-employee-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 150px;
}