#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.create-employee__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 150px;
}

.form-error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

/** DatePicker **/

.date-picker-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.react-datepicker__header--custom {
  background-color: #ffffff !important;
}

/* Header Buttons */
.dp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.dp-button {
  border: none;
  background-color: #ffffff;
  color: grey;
}

.dp-button:hover {
  color: black;
  cursor: pointer;
}

.dp-button--nav {
  font-size: 1.4em;
}

.dp-icon {
  width: 18px;
  height: 18px;
}

/* days */

.react-datepicker__day--today {
  color: #1976d2 !important;
}

.react-datepicker__day--selected {
 color: #ffffff !important;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--today:hover {
  background-color: orange !important;
  color: white;
}

/* Days outside month */

.react-datepicker__day--outside-month {
  color: #b0b0b0 !important;
}

.react-datepicker__day--outside-month:hover {
  color: #ffffff !important;
}

/* Months select */

#months-select {
  border: none;
}

#months-select:hover {
  text-decoration: underline;
}

/* Years select */

#years-select {
  border: none;
}

#years-select:hover {
  text-decoration: underline;
}

/** Select plugin **/

.select-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select-field {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

/* Focus */
.select-field:focus {
  outline: none;
}

/*** EMPLOYEE LIST ***/
/* Controls */

.ml-5 {
  margin-left: 5px;
}

.table-icon {
  width: 18px;
  height: 18px;
}

.employee-table_wrapper {
  max-width: 967px;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
}

.table-controls select,
.table-controls input {
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th {
  position: relative;
  text-align: center;
  padding: 10px 18px;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
  white-space: nowrap;
}

.th:hover {
  background-color: #eaeaea;
}

td {
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #fafafa; /* gris clair */
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

/* LOWER CONTROLS */

.table-lower-controls {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover:not(:disabled) {
  background-color: #eee;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.modal-content {
  color: orange;
}